
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Schedule</h2>

<!-- Page Resources -->
<link type="text/css" rel="stylesheet" href="~/Content/Scheduler/Index.css" />
<script type="text/javascript" src="~/Scripts/Scheduler/Index.js"></script>


<div id="calendar"></div>