@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>ChronosClock is a time-management application that streamlines the scheduling process by leveraging intelligent analytics.</p>

<hr />

<a href="/Scheduler/Index">See Demo Here</a>

<hr/>

<p>
    ChronosClock was developed by <a href="#">...</a>
</p>
