@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron">
    <h1>ChronosClock</h1>
    <p class="lead">ChronosClock is a time-management app that streamlines scheduling by leveraging intelligent analytics.</p>
    <p><a href="/Schedule/Index" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            ChronosClock caters to businesses large and small. Check out our pricing to find a plan that's suitable for your organization.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Device Independence</h2>
        <p>Access the system from any device with a browser.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>